@font-face {
    font-family: 'Caslon Antique';
    src: url('fonts/CaslonAntique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Caslon Antique';
    src: url('fonts/CaslonAntique-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Caslon Antique';
    src: url('fonts/CaslonAntique-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Caslon Antique';
    src: url('fonts/CaslonAntique-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

.barText {
    background-color: rgba(255, 255, 255, 0.844);
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 16px;
    font-size: medium;
    text-align: center;
}

#firstWindow{
    z-index: 0;
}

.slide {
    border: solid;
    width: 350px;
    border-radius: 12px;
    padding: 15px;
    padding-top: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    background-image: url(osAssets/windowBg.jpg);
    background-position: 50%;
}

.btn {
    cursor: pointer;
}
.movable{
    cursor: move;
}
.slideHeader {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    background-color: rgba(61, 215, 56, 0.5);
    border-radius: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 4px;
    padding-right: 4px;
}

.windowName{
    font-size: large;
    margin: 0px;
    transform: translateY(6px);
}

h2{
    margin: 5px;
}

#firstWindowHeading {
    margin: 4px;
    padding: 5px;
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}

#imgKeeper {
    border-radius: 75%;
    border-style: dashed;
    border-color: black;
    border-width: 2px;
    margin: 2px;
    height: 100px;
}

marquee {
    color: brown;
    background-color: beige;
    padding: 5px;
    margin: 2px;
    font-size: x-large;
}

.closeBtn {
    height: 30px;

}

.moveUp{
    transform: translateY(-100vh);
    transition: transform 2s ease-in-out;
}

body {
    /* backdrop-filter: blur(2px); */
    overflow: hidden;
    /* position: relative; */
    background-color: burlywood;
    font-family: 'Caslon Antique', monospace;
    font-weight: normal;
    font-style: normal;
    background-size: cover;
    height: 100vh;
    background-image: url(osAssets/backgeound.png);
}

.lock{
    position: relative;
}

#lockTime{
    top: -12%;
    left: 44.5%;
    font-size: 122px;
}



#lockBranding{
    top: -35%;
    left: 44.5%;
    font-size: 30px;
    letter-spacing: 15px;
}

#lockText{
    top: 13%;
    left: 32%;
    font-size: 50px;
    letter-spacing: 10px;
    padding: 14px;
    border: solid;
    width: fit-content;
    border-radius: 49px;
    padding-left: 23px;
    background-color: rgb(255 255 255 / 63%);
}

.lockScreen{
    /* visibility: hidden; */
    position: absolute;
    background: url(osAssets/lockScreenImg.png) no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    position: fixed;
    z-index: 999999;
}

#header {
    margin-top: 25px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.568);
    border: solid #FFD700;
    background: url(osAssets/headerBg.jpg);
}

.appName{
    margin: 0px;
    font-style: italic;
    color: #fff;
}

#ledger{
    height: 120px;
    border-radius: 25%;
    border: 15px;
    border-color:white;
}

#clockImg{
    height: 120px;
    border-radius: 25%;
    border: 15px;
    border-color:white;
}

#ledgerTable{
    width: 410px;
    margin: 15px;
}

th{
    font-family: 'Times New Roman', Times, serif;
}

#ledgerSlide{
    font-size: medium;
    text-align: center;
    visibility: hidden;
    width: 430px;
}


#ledgerSlideContent{
    display: grid;
    place-items: center;
}

#addEntryBtn{
    padding: 10px;
    font-style: italic;
    color: indigo;
    border-radius: 16px;
    font-size: medium;
    text-align: center;
    background-color: aliceblue;
    border-width: 5px;
    border: solid;
}

.departBtn{
    padding: 5px;
    margin: 2px;
    width: 25px;
    font-style: italic;
    color: indigo;
    border-radius: 16px;
    font-size: small;
    text-align: center;
    background-color: aliceblue;
    border: solid;
}

.appScreenIcon{
    width: 100px;
    padding: 5px;
    /* display: flex; */
    display: grid;
    place-items: center;
    justify-content: center;
}

#desktop{
    padding-top: 15px;
    padding-left: 20px;
    border: 5px;
    border-color: #fff;
    height: 100vh;
}

#deskBtn {
    margin-left: 15px;
    font-style: italic;
    color: indigo;
}

#timeSpan {
    margin-right: 16px;
    font-weight: bold;
    font-style: normal;
}


.selected{
    filter: grayscale(100%);
}

/* //clocks */

#clockSlide{
    left: 1317px;
    top: 390px;
    visibility: hidden;
}

#clock{
    position: relative;
    margin: auto;
    margin-top: 15px;
    width: 15vw;
    height: 34.2vw;
    background:url(osAssets/clockAssets/clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute{
    position: absolute;
    background-color: black;
    border-radius: 5px;
}

#hour{
    transform-origin: 54% 85%;
    background: url(osAssets/clockAssets/hour.png) no-repeat;
    height: 7%;
    width: 6%;
    left: 42.99%;
    top: 17.7%;
    background-size: 100%;
}

#minute{
    transform-origin: 25% 49%;
    background: url(osAssets/clockAssets/minutes.png) no-repeat;
    height: 14%;
    width: 7%;
    left: 44.9%;
    top: 16.7%;
    background-size: 42%;
}
